* {
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: $breakpoint) {
  .hide-mobile {
    display:none;
  }
  .center-mobile {
    text-align: center;
  }
}

.jc-sb {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.as-fs {
  align-self: flex-start;
}
.flex-column {
  flex-flow: column;
}
.flex-rows {
  flex-flow: row;
}

.vertical-center {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-flow: row;
}
.flex-column {
  display: flex;
  flex-flow: column;
}

h3 {
  color: #fff;
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.button {
  background-color: #e1ae67;
  border-radius: 5px;
  border: none;
  font-size: 3rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #184062;
  padding: 5px 15px;
  &:hover {
    border: none;
    text-decoration: none;
    color: #fff;
  }
}

.vertical-cent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.logo {
  background-color: rgba(255,255,255,0.8);
  margin: 0 100px;
  margin-top: 1rem;
}

.d-flex {
  display: flex;
}

#frontPage {
  height: 100vh;
  background: linear-gradient(
		rgba(13, 73, 122, 0.40),
		rgba(13, 73, 122, 0.40)),
	url('../images/mountain.jpg');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;
  color: #fff;
  display: flex;

  h1 {
    font-size: 4.5rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 50px;
  }
  h3 {
    padding: 5px 0;
  }
  img {
    padding: 100px;
  }
  span {
    color: #e1ae67;
  }
  button {
    margin-top: 25px;
  }

  .info {
    margin-right: 100px;
  }
}

#kontaktPage {
  min-height: 100vh;
  background: linear-gradient(
		rgba(13, 73, 122, 0.30),
		rgba(13, 73, 122, 0.30)),
	url('../images/river.jpg');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;
  .vertical-center {
    min-height: 100%;
  }
  p {
    color: #fff;
  }
  h1, h5 {
    color: #e1ae67;
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  h5 {
    font-size: 2rem;
    font-weight: bold;
  }

  @media only screen and (min-width: $breakpoint) {
    .large-50:first-child {
      padding-left: 300px;
      padding-right: 50px;
    }
    .large-50:last-child {
      padding-right: 300px;
      padding-left: 50px;
    }
  }
}

#tjenesterPage {
  min-height: 100vh;
  background: linear-gradient(
		rgba(13, 73, 122, 0.30),
		rgba(13, 73, 122, 0.30)),
	url('../images/wood.jpeg');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;
  h1, h2 {
    color: #e1ae67;
  }
  h1 {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  p {
    color: #fff;
  }
  .flex-row {
    margin: 0 3rem;
    justify-content: center;
  }
  .left, .right {
    margin: 0 3rem;
    width: 30%;
  }
}
