$breakpoint: 1200px;

* {
  font-family: 'Roboto', sans-serif;
}

.content {
  padding-top: 120px;
}

@media only screen and (max-width: $breakpoint) {
  .hide-mobile {
    display:none;
  }
  .center-mobile {
    text-align: center;
  }
  .content {
    padding-top: 10px;
  }
}

#nav-toggle {
    z-index: 9999;
}


.center {
  display: flex;
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.as-fs {
  align-self: flex-start;
}
.flex-column {
  flex-flow: column;
}
.flex-rows {
  flex-flow: row;
}

.vertical-center {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-flow: row;
}
.flex-column {
  display: flex;
  flex-flow: column;
}

li {
  list-style: none;
}

h3 {
  color: #fff;
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.button {
  background-color: #e1ae67;
  border-radius: 3px;
  border: none;
  font-size: 2.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #184062;
  padding: 0 55px;
  &:hover {
    border: none;
    text-decoration: none;
    color: #fff;
  }
}

.vertical-cent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.d-flex {
  display: flex;
}

#frontPage {
  min-height: 100vh;
  background: linear-gradient(
		rgba(13, 73, 122, 0.30),
		rgba(13, 73, 122, 0.30)),
	url('../images/mountain.jpg');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .vertical-center {
    min-height: 100%;
  }
  color: #fff;
  /* display: flex; */

  h1 {
    font-size: 4rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 50px;
  }
  h3 {
    padding: 5px 0;
    font-size: 1.5rem;
  }
  span {
    color: #e1ae67;
  }
  button {
    margin-top: 25px;
  }

}

#kontaktPage {
  min-height: 100vh;
  background: linear-gradient(
		rgba(13, 73, 122, 0.30),
		rgba(13, 73, 122, 0.30)),
	url('../images/river.jpg');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;
  .vertical-center {
    min-height: 100%;
  }
  p {
    color: #fff;
  }
  h1, h5 {
    color: #e1ae67;
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  h5 {
    font-size: 2rem;
    font-weight: bold;
  }

  @media only screen and (min-width: $breakpoint) {
    .large-50:first-child {
      padding-left: 300px;
      padding-right: 50px;
    }
    .large-50:last-child {
      padding-right: 300px;
      padding-left: 50px;
    }
  }
}

#tjenesterPage {
  min-height: 100vh;
  background: linear-gradient(
		rgba(13, 73, 122, 0.30),
		rgba(13, 73, 122, 0.30)),
	url('../images/wood.jpeg');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;
  h1, h2 {
    color: #e1ae67;
    font-weight: bold;
  }
  h1 {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 45px;
  }
  p {
    color: #fff;
  }
  @media only screen and (min-width: $breakpoint) {
    .large-50:first-child {
      padding-left: 300px;
      padding-right: 50px;
    }
    .large-50:last-child {
      padding-right: 300px;
      padding-left: 50px;
    }
  }
}

#aboutPage {
  min-height: 100vh;
  background: linear-gradient(
		rgba(13, 73, 122, 0.30),
		rgba(13, 73, 122, 0.30)),
	url('../images/mountain.jpg');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;

  h1, h2, h5 {
    color: #e1ae67;
    font-weight: bold;
  }
  h5 {
    white-space: nowrap;
  }
  h1 {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
  }
  p {
    color: #fff;
    margin: 3px 0 0 0;
  }
  .blue-box {
    background-color: rgba(24, 64, 98, .60);
    margin-bottom: 50px;
    p {
      color: #e1ae67;
      margin: 0;
      &:last-child {
        margin-bottom: 23px;
      }
    }
  }
  hr {
        border-top: 3px solid #6e90ac;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .bot {
  .large-50 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
  @media only screen and (min-width: $breakpoint) {
    .blue-box li {
      padding: 0px 50px;
    }
  }

  @media only screen and (max-width: 900px) {
    li:last-child {
      margin-top: 50px;
    }
  }
}
