/* Google Block */
li {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  margin-bottom: 16px;
  color: #222;
  font-size: medium;
  font-weight: normal; }
  li div {
    display: block;
    margin: 0;
    padding: 16px;
    font-size: small;
    line-height: 1.2;
    text-align: left; }
    li div h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      -moz-text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 18px; }
    li div h5 {
      height: 18px;
      line-height: 16px;
      font-size: 14px;
      color: #006621; }
