/* Navbar */
$content-width: 100%;
$breakpoint: 1200px;
$nav-height: 200px;
$nav-height-mob: 70px;
$nav-background: transparent;
$nav-font-color: #fff;
$link-hover-color: transparent;

// Stretch to the full width of the viewport
.navigation {
  height: $nav-height;
  background: $nav-background;
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

.navbar-logo {
  max-height: auto;
  padding: 15px;
  width: 80%;
}

// Logo and branding
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }

}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

nav {
  float:right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a, a:visited {
        display: block;
        padding: 0 50px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        font-size: 2rem;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      }
      ul li { // Dropdown lost
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  display: none;
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: 75px;
  width: 75px;
}


// Mobile breakpoint
@media only screen and (max-width: $breakpoint) {
  // Hamburger menu only visiblew on mobile
  .nav-mobile {
    display: block;
  }

  .navbar-logo {
    max-height: 100%;
    padding: 15px;
    max-width: auto;
  }

  nav {
    width: 100%;
    padding: 200px 0 15px;
    ul{
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
    // Prevents dropdown menu to overlap other elements
    .nav-dropdown {
      position: static;
    }
  }
}

@media screen and (min-width: $breakpoint) {
  // Makes sure menu is always displayed on larger screens
  .nav-list {
    display: block !important;
  }
}


#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
